{% extends 'base.html' %}

{% block title %}
Blog Detail
{% endblock %}

{% block content %}

<main>
    <br>
    <div class= "container blog-content">
        <div class= "row">
            <img src="{{posts.image.url}}" alt=""  width="auto">
        </div>
        <div class="row">
            <h3>{{posts.title}}</h3>
            <p>{{posts.published_date}}</p>
            <div>
                {{post.text|safe}}
            </div>
           
        </div>

    </div>
</main>
{% endblock content %}